@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

// Fonts
$timer-font: 'Orbitron', sans-serif;

// Layout
#left-bar {
    position: fixed;
    padding-top: 4.25em;
    height: 100%;
    left: 0.5rem;
}
#footer {
    position: fixed;
    background-color: #000;
    bottom: 0;
    left: 0.5rem;
    padding-bottom: 0.5rem;
    width: calc(100% - 1rem);
    z-index: 1;
}
body {
    background: black;
}
.lcars-column.full-centered.page-wrap {
    width: 80%;
    float: right;
}
.title h1 {
    margin: 0;
}
.container > div, .clock-container {
    width: 100%;
}
// clock page
.clock-container > div {
    margin-top: 5vh;
}
.clock-face {
    font-family: $timer-font;
    font-size: 7em;
}
.date-picker {
    border-style: none;
}
// text transform page
textarea.lcars-text-box {
    width: 100%;
    height: 500px;
}
.btn-container div {
    margin: 2.5px;
}

// small devices
@media (max-width: 576px) {
    .lcars-u-1 {
        width: 3rem;
    }
    .lcars-elbow {
        width: 5rem;
        min-width: 5rem;
    }
    .clock-face {
        font-size: 2em;
    }

    // Text Transform page
    textarea.lcars-text-box {
        height: 250px;
    }
}