@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

// Fonts
$timer-font: 'Orbitron', sans-serif;

// Layout
#left-bar {
    position: fixed;
    padding-top: 4.25em;
    height: 100%;
    left: 0.5rem;
}
#footer {
    position: fixed;
    background-color: #000;
    bottom: 0;
    left: 0.5rem;
    padding-bottom: 0.5rem;
    width: calc(100% - 1rem);
    z-index: 1;
}

body {
    background: black;
}
.container > div, .clock-container {
    width: 100%;
}
.clock-container > div {
    margin-top: 5vh;
}
.clock-face {
    font-family: $timer-font;
    font-size: 7em;
}
.date-picker {
    border-style: none;
}
textarea.lcars-text-box {
    width: 500px;
    height: 500px;
}
.btn-container div {
    margin: 2.5px;
}